/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Toggle_layer_3 {
            bindings = <&mo 3>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB    &kp A  &kp Z  &kp E     &kp R  &kp T      &kp Y      &kp U      &kp I       &kp O          &kp P      &kp BSPC
&kp LSHFT  &kp Q  &kp S  &kp D     &kp F  &kp G      &kp H      &kp J      &kp K       &kp L          &kp M      &kp SQT
&kp LCTRL  &kp W  &kp X  &kp C     &kp V  &kp B      &kp N      &kp COMMA  &kp PERIOD  &kp SEMICOLON  &kp MINUS  &kp GRAVE
                         &kp LGUI  &mo 2  &kp RET    &kp SPACE  &mo 1      &kp RALT
            >;
        };

        lower_layer {
            bindings = <
&kp TAB         &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &trans   &trans  &trans    &kp UP    &kp ESC    &kp BSPC
&kp LEFT_SHIFT  &kp N6        &kp N7        &kp N8        &kp N9        &kp N0          &trans   &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans   &trans  &trans    &trans    &trans     &trans
                                            &kp LGUI      &trans        &kp SPACE       &kp RET  &trans  &kp RALT
            >;
        };

        raise_layer {
            bindings = <
&kp TAB     &kp DOT  &kp QUESTION  &trans    &kp EXCLAMATION  &kp CARET    &kp RBRC     &kp RIGHT_PARENTHESIS  &kp RBKT   &kp BACKSLASH  &kp ASTERISK  &kp BSPC
&kp LSHIFT  &trans   &trans        &trans    &trans           &trans       &kp LBRC     &kp LPAR               &kp LBKT   &kp FSLH       &kp PLUS      &kp MINUS
&kp LCTRL   &trans   &trans        &trans    &trans           &trans       &kp AT_SIGN  &kp AMPERSAND          &kp POUND  &kp PIPE       &kp PERCENT   &kp EQUAL
                                   &kp LGUI  &trans           &kp SPACE    &kp RET      &trans                 &kp RALT
            >;
        };

        layer_3 {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5     &kp PRINTSCREEN  &kp K_MUTE        &kp K_VOLUME_DOWN  &kp K_VOLUME_UP  &trans  &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &trans           &kp K_PLAY_PAUSE  &kp C_AC_BACK      &kp K_FORWARD    &trans  &trans
&trans  &kp F11  &kp F12  &trans  &trans  &trans     &trans           &trans            &trans             &trans           &trans  &trans
                          &trans  &trans  &trans     &trans           &trans            &trans
            >;
        };
    };
};
